.oeuvre-wrap {
padding-top: 15px;
padding-bottom:30px;
padding-left:5%;
padding-right:190px;
box-sizing:border-box;
box-sizing: unset;
margin-top: 2%;
margin-bottom: 2%;
margin-left: 4%;
margin-right: 2%;
border:3px rgba(31, 117, 127, .3) solid;
border-radius:15px;
background-color: rgba(62,116,127,.02);
}

.InfosOeuvre{
  font-size: 12px;
}

h4{
  font-size: 20px;
}
