.oeuvre-wrap {

padding-bottom:10px;
padding-left:5%;
padding-right:14%;
box-sizing:border-box;
box-sizing: unset;
margin-top: 2%;
margin-bottom: 2%;
margin-left: 2%;
margin-right: 2%;
border:3px rgba(31, 117, 127, .3) solid;
border-radius:15px;
background-color: rgba(62,116,127,.02);
}

.InfosOeuvre{
  font-size: 12px;
  display:grid;
  grid-template-columns: minmax(100px, 2fr) minmax(100px, 2fr) minmax(100px, 2fr);

}

.InfosTexte{
text-align: center;
}

.InfosImage{
padding-right: 10%;
}
h4{
  font-size: 20px;
}

.Oeuvre .note{
  border: transparent;
  border-radius: 5px;
  background-color: rgba(34,174,191,0.1);
  padding-top: 5%;
  margin-bottom: 2%;
  padding-bottom: 5%;
  margin-left: 50%;

  font-size: 20px;
  color: #3E747F;

}

.Boutons{
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.Oeuvre .note:hover{
  border: 2px solid #FF9654;
  color: #FF9654;
  border-radius:4px;
  background-color: white;
  margin-bottom: 0.8%;
  cursor:pointer;
}

.Title{
  font-size: 20px;
}
