.stats-wrapper{
  padding-top: 15px;
  padding-bottom:300px;

  padding-right: 180px;
  margin: 10px;
  font-size: 20px;
  box-sizing:content-box;
  box-sizing: unset;
  border:3px rgba(31, 117, 127, .3) solid;
  border-radius:15px;
  background-color: rgba(255, 255, 255, 1);
}
